{% extends 'base.html' %} <!-- 根據base.html延伸出來的網頁 -->

{% block content %}

<div class="card">
	<div class="card-header ">
		<span style="font-family:monospace; font-size:25px;">{{ infodetail }}</span>
	</div>
  <div class="card-body">
    <div class="card-title"><font face="Verdana" style="font-weight: 200;">Introduction: {{ infodetail.introduction }}</font></div>
    <div class="card-title"><font face="Verdana" style="font-weight: 200;">Recent_events: {{ infodetail.recent_events }}</font></div>
    <div class="card-title"><font face="Verdana" style="font-weight: 200;">Autobiography: {{ infodetail.autobiography }}</font></div>
    <div class="card-title"><font face="Verdana" style="font-weight: 200;">Refresh_date: {{ infodetail.refresh_date }}</font></div>
	<br/>
	{% if infodetail.image %}
	<img src="{{ infodetail.image.url }}"style="height: auto ; max-width: 100% ;" />
	
	<br/><br/>
	{% endif %}
	</br>
    <a href="https://www.facebook.com/" class="btn btn-primary" style="background-color:#ededed; width:40% ;border-radius: 10px; border:3px solid #dcdcdc; text-shadow:0px 1px 0px #ffffff; color:#777777;"><font face="微軟正黑體">Contact me</font></a>
  </div>
</div>
<br/>

<style>
	.card {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #dee5ec;
  border-bottom: none;
}

.card-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

.card-body {
  padding: 20px;
}

.card-body a.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  font-size: 16px;
  color: #777;
}

.card-body a.btn:hover {
  background-color: #f5f5f5;
}
	
	</style>  
{% endblock %}