{% extends 'base.html' %}

{% block content %}

<div class="container" style="max-width: 800px; margin: 0 auto; padding: 20 px; background-color: #f8f8f8; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      {% if user.is_authenticated %}
		</br>
        <h2 class="text-center mb-4" style="font-family: Arial, sans-serif; color: #333;">Add Information to Database</h2>
        {% if submitted %}
          <div class="alert alert-success" role="alert" style="background-color: #d4edda; color: #155724; border-color: #c3e6cb; padding: 0.75rem 1.25rem; margin-bottom: 1rem; border-radius: 0.25rem;">
            Your information was submitted successfully!
          </div>
        {% else %}
          <form action="" method="POST" enctype="multipart/form-data" style="margin-top: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
          </form>
        {% endif %}
      {% else %}
      <div class="message-container">
        <div class="message">Sorry! You must be logged in to view this page.</div>
        <a href="{% url 'login' %}" class="login-link">Login here</a>
      </div>
      {% endif %}
    </br>
    </div>
  </div>
</div>

<style>
	body {
	  background-color: #F5F5F5;
	  font-family: 'Arial', sans-serif;
	}
  
	.message-container {
	  text-align: center;
	  margin-top: 50px;
	}
  
	.message {
	  font-size: 24px;
	  font-family: monospace;
	  color: #333;
	  margin-bottom: 20px;
	}
  
	.login-link {
	  font-size: 18px;
	  font-family: monospace;
	  color: #007bff;
	  text-decoration: none;
	}
  
	.login-link:hover {
	  text-decoration: underline;
	}
  </style>

{% endblock %}