{% extends 'base.html' %}

{% block content %}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: -20px;
    }
    .col-lg-4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .card {
        border: none;
        border-radius: 0.5rem;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
    .card:hover {
        transform: scale(1.03);
    }
    .card-img-top {
        border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
    }
    .card-title {
        font-family: 'Arial', sans-serif;
        color: #007bff;
    }
    .card-text {
        font-family: 'Arial', sans-serif;
        color: #6c757d;
    }
</style>
<div class="row">
  {% for Portfolio in Portfolios %}
    <div class="col-lg-4">
      <div class="card mt-4">
        {% if Portfolio.image %}
          <img src="{{ Portfolio.image.url }}" class="card-img-top" alt="" >
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              {{ Portfolio }}
            </h5>
            <p class="card-text">
              {{ Portfolio.content|linebreaksbr }}
            </p>
          </div>
      </div>
    </div>
  {% endfor %}
</div>

<br/>

{% endblock %}
